/*
 * lxqt-sudo dialog
 */
 
 #PasswordDialog {
   background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
   stop: 0 #4c4d4d, stop: 0.08 #424343,
   stop: 0.9 #2a2b2b, stop: 1 #212222);
   border: 1px solid #39ca24;
   border-radius:4px;
   padding: 1px;
   margin: 2px;
}

#descriptionL,#descCommandL,#commandL,#descPasswordL {
   color:white
}

#errorL {
   color:#989995
}
